* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: lightsalmon;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }
  
  section {
    margin-top: 20px;
  }
  
  .error-message {
      color: red;
  }

  h1{ 
    font-size: 30px;
  }

  h2, p, h3{
    font-size: 18px;
  }

  .restaurantChoice {
    font-size: 18px;
    background-color: white;
  }

  .find-restaurants {
    background-color: white;
  }

  #js-form {
      width: 75%;
  }

  #restaurant-location {
      display: inline-block;
  }

   .restaurant{
      margin: 0px 0px;
      padding: 0px 0px;
      display: inline-block;

  }

  section {
      display: inline-block;
  }

  @media screen and (min-width: 768px){

    h1{ 
        font-size: 40px;
    }
    h2, p, h3{
        font-size: 18px;
   }
   #js-form {
       width: 75%;
   }

   .container {
    max-width: 800px;
    margin: 0 auto;
    }

    #more-venues {
        float: right;
        clear: left;
    }

}